body {
    margin-top:0px;
    margin-left:0px;
    background-image: url("fond.jpg");
    background-repeat:no-repeat;
}
/*-------bloc parent div parent---------*/
.parent{
    display: flex;
    justify-content: space-between;
}

.container{
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.soleil, .fleur, .patate, .boom, .plante, .piment, .frape {
height: 90px;
width: 87px;
background-color: rgb(91, 189, 34);
background-repeat:no-repeat;
justify-content: center;
background-position: center;
}
.soleil{
    background-image: url("soleil.gif");
    background-size: 100%;
}
.fleur{
    background-image: url("fleur.gif");
    background-size: 90%;
}
.patate{
    background-image: url("patate.gif");
    background-size: 90px 110px ;
}
 .boom{
    background-image: url("boom.gif");
    background-size: 100%;
 }
 .plante{
    background-image: url("test.gif");
    background-size: 90%;
}
.piment{
    background-image: url("piment.gif");
    background-size: 90px 110px;
}
.frape{
    background-image: url("frape.gif");
    background-size:  90px 130px;  
}
/*------2em bloc div grille----*/
.terrain {
    position: absolute; left: 185px; top: 85px;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
}
table {
    border-collapse: collapse;
}
td {
    width: 87px;
    height: 110px;
}
/*---3em bloc div jeux----*/
.grille{
    display: flex;
    flex-direction: column;
}
.doc{
    margin-top: 8px;
    height: 100%;
    width: 108px;
    display: flex;
    flex-direction: column;
   

}
.info{  
    height: 105px;
    width: 108px;
    background-color: rgb(22, 145, 22);
    font-size: 11px;
    
}
.regle{
    height: 105px;
    width: 108px;
    background-color: wheat;
    font-size: 11px;

}

